<div class="container">
  <div class="header">
    <h1 class="header__logo">Some cool Logo</h1>
  </div>
  <div class="main">
    <hr class="divider">
    <p><b class="bold">VERY NICE CEASAR-CHAN</b></p>
    <p class="main__random-text"></p>
    <p class="main__random-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis dolores et
      excepturi expedita impedit magni nemo pariatur quam voluptate?</p>
    <p class="main__random-text">Aut cum distinctio nesciunt nobis. Aliquid delectus deleniti dolore doloremque ea,
      eaque eius libero nostrum, quaerat, quia quis quos reiciendis?</p>
    <hr class="divider">
  </div>

</div>
