<div class="container">
  <div class="header">
    <!--  <img class="header__logo" src="assets/logo.svg" alt="">-->
    <h1 class="header__logo">Some cool Logo</h1>
    <h2 class="header__slogan">“is sa jis, kai žeu”</h2>
  </div>
  <div class="main">
    <hr class="divider">
    <p class="main__random-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, quaerat?</p>
    <hr class="divider divider-rotated">
    <p class="main__random-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, nisi.</p>
    <hr class="divider">
  </div>
  <button class="btn btn-start" [routerLink]="['main']">
    {{'Lets Start' | titlecase}}
  </button>
</div>
